

<div id="appBg">
  <form name="calculadora">
      <input type="text" id="res" name="res" value="{{pantalla}}" autocomplete="off" readonly>
      <br>
      <input type="reset" id="c" class="btnCalcu3" value="C" (click)="limpiar()" >
      <input type="button" id="/" class="btnCalcu2" value="%"  (click)="div()" >
      <br>
      <input type="button" id="7" name="numeros" value="7" class="btnCalcu1" (click)="siete()" >
      <input type="button" id="8" name="numeros" value="8" class="btnCalcu1" (click)="ocho()" >
      <input type="button" id="9" name="numeros" value="9" class="btnCalcu1" (click)="nueve()" >
      <input type="button" id="*" value="X" class="btnCalcu2" (click)="multi()" >
      <br>  
      <input type="button" id="4" name="numeros" value="4" class="btnCalcu1" (click)="cuatro()" >
      <input type="button" id="5" name="numeros" value="5" class="btnCalcu1" (click)="cinco()" >
      <input type="button" id="6" name="numeros" value="6" class="btnCalcu1" (click)="seis()" >
      <input type="button" id="-" value="-" class="btnCalcu2" (click)="menos()" >
      <br>
      <input type="button" id="1" name="numeros" value="1" class="btnCalcu1"   (click)="uno()" >
      <input type="button" id="2" name="numeros" value="2" class="btnCalcu1" (click)="dos()" >
      <input type="button" id="3" name="numeros" value="3" class="btnCalcu1"   (click)="tres()" >  
      <input type="button" id="+" value="+" class="btnCalcu2" (click)="mas()" >
      <br>
      <input type="button" id="0" name="numeros" value="0"  class="btnCalcu3" (click)="cero()" >
      <input type="button" id="=" value="=" class="btnCalcu2" (click)="igual()" > 


  </form>

  </div>
